{% extends "layout.jinja2" %}

{% block pagestyles %}
  {% assets "home_style_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %}

{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">American League</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>

      <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

    


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Teams</h5>
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                <thead class="table-light">
                    <tr>
                        {% for key in data[0] %}
                            <th scope="col"> {{ key }} </th>
                        {% endfor %}              
                    </tr>
                </thead>
                <tbody>
                    {% for dict_item in data %}
                        <tr>
                            {% for value in dict_item.values() %}
                                <td class="ellipsis"><span> {{ value }} </span></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

    </main>


{% endblock %}