<style>
  .account-button {
    --n-button-text-align: start;
    --_n-button-padding-inline: calc(var(--n-space-s) / 2);
    --_n-button-color: var(--n-color-text-weak);
    --_n-button-background-color: transparent;
  }
  .account-button:hover {
    --n-button-border-color: var(--n-color-border-hover);
  }
</style>
